* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

body {
	background: #ebf2f5;
	color: #fff;
	user-select: none;
}

body,
input,
button,
textarea {
	font: 600 18px Nunito, sans-serif;
}
